/* breakpoints ================================================= */
/* colors ================================================= */
/* typography ================================================= */
/* transitions ================================================= */
/* mixins ================================================= */
/* style ================================================= */
html, body {
  background-color: #e0e0e0;
  margin: 0;
  min-height: 200px;
  padding: 0;
  position: relative;
  width: 100%; }

.main-container {
  box-sizing: border-box;
  display: block;
  max-width: 944px;
  min-height: 100vh;
  margin: 8px auto;
  position: relative; }

.clear {
  clear: both;
  width: 100%; }

/* general ================================================== */
.column-container {
  display: block;
  position: relative; }
  .column-container .column {
    box-sizing: border-box;
    display: block;
    float: left;
    height: 100%;
    padding: 16px;
    position: relative; }

/* desktop ================================================== */
@media screen and (min-width: 960px) {
  .column-container .column.col25 {
    width: 25%; }
  .column-container .column.col33 {
    width: 33%; }
  .column-container .column.col50 {
    width: 50%; }
  .column-container .column.col75 {
    width: 75%; } }
/* tablet ================================================== */
@media screen and (min-width: 600px) and (max-width: 959px) {
  .column-container .column.col25 {
    width: 50%; }
  .column-container .column.col33 {
    width: 33%; }
  .column-container .column.col50 {
    width: 50%; }
  .column-container .column.col75 {
    width: 100%; } }
/* phone ================================================== */
@media screen and (max-width: 599px) {
  .column-container .column.col25, .column-container .column.col33, .column-container .column.col50, .column-container .column.col75 {
    width: 100%; } }
