/* breakpoints ================================================= */
/* colors ================================================= */
/* typography ================================================= */
/* transitions ================================================= */
/* mixins ================================================= */
/* style ================================================= */
html, body {
  background-color: #e0e0e0;
  margin: 0;
  min-height: 200px;
  padding: 0;
  position: relative;
  width: 100%; }

.map {
  background: url("../images/map.png") no-repeat center;
  background-size: 1100px auto;
  display: block;
  height: 400px;
  position: relative;
  width: 100%; }

.s2p-header {
  background-color: #009933;
  box-shadow: 0; }

.main-container {
  box-sizing: border-box;
  display: block;
  max-width: 944px;
  min-height: 100vh;
  margin: 8px auto;
  position: relative; }

.icon {
  display: block;
  height: 100px;
  margin: auto;
  position: relative;
  width: 100px; }

.photo {
  display: block;
  position: relative;
  width: 100%; }

.whitespace {
  display: block;
  height: 8px;
  margin: 40px 0;
  position: relative;
  width: 100%; }

.clear {
  clear: both;
  width: 100%; }

/* general ================================================== */
.column-container {
  display: block;
  position: relative; }
  .column-container .column {
    box-sizing: border-box;
    display: block;
    float: left;
    height: 100%;
    padding: 16px;
    position: relative; }

.no-pad .column {
  padding: 0; }

/* desktop ================================================== */
@media screen and (min-width: 960px) {
  .column-container .column.col25 {
    width: 25%; }
  .column-container .column.col33 {
    width: 33%; }
  .column-container .column.col50 {
    width: 50%; }
  .column-container .column.col66 {
    width: 66%; }
  .column-container .column.col75 {
    width: 75%; } }
/* tablet ================================================== */
@media screen and (min-width: 600px) and (max-width: 959px) {
  .column-container .column.col25 {
    width: 33%; }
  .column-container .column.col33 {
    width: 33%; }
  .column-container .column.col50 {
    width: 50%; }
  .column-container .column.col66 {
    width: 66%; }
  .column-container .column.col75 {
    width: 66%; } }
/* phone ================================================== */
@media screen and (max-width: 599px) {
  .column-container .column.col25, .column-container .column.col33, .column-container .column.col50, .column-container .column.col66, .column-container .column.col75 {
    width: 100%; } }
