/* breakpoints ================================================= */
/* colors ================================================= */
/* typography ================================================= */
/* transitions ================================================= */
/* mixins ================================================= */
/* style ================================================= */
html, body {
  background-color: #e0e0e0;
  margin: 0;
  min-height: 200px;
  padding: 0;
  position: relative;
  width: 100%; }

.s2p-header {
  background-color: #009933;
  box-shadow: 0; }

.main-container {
  box-sizing: border-box;
  display: block;
  max-width: 944px;
  min-height: 100vh;
  margin: 8px auto;
  position: relative; }

.icon {
  display: block;
  height: 100px;
  margin: auto;
  position: relative;
  width: 100px; }

.photo {
  display: block;
  position: relative;
  width: 100%; }

.whitespace {
  display: block;
  height: 8px;
  margin: 40px 0;
  position: relative;
  width: 100%; }

.clear {
  clear: both;
  width: 100%; }

/* general ================================================== */
.navbar {
  background-color: #12679a;
  box-shadow: 0 2px 2px #9e9e9e;
  display: block;
  position: relative;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  width: 100%;
  z-index: 50; }
  .navbar .hamburger-button {
    float: left; }
    .navbar .hamburger-button .line-container {
      height: 24px;
      width: 24px; }
      .navbar .hamburger-button .line-container .hamburger-line {
        background-color: white;
        height: 3px;
        margin: 6px auto;
        width: 24px; }
  .navbar .page-name {
    color: white;
    font: 300 32px "Roboto", sans-serif;
    float: left; }
  .navbar .post-button, .navbar .sort-button {
    float: right;
    width: 100px; }
  .navbar .nav-button {
    color: white;
    cursor: pointer;
    font: 300 32px "Roboto", sans-serif;
    text-align: center;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out; }
    .navbar .nav-button:hover {
      background-color: #0d4c63; }
  .navbar .nav-button-active {
    background-color: #0d4c63; }
  .navbar .nav-icon-button {
    color: white;
    float: right; }
    .navbar .nav-icon-button:hover {
      background-color: #0d4c63; }
  .navbar .logo {
    display: block;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0); }

.shadow {
  background-color: #424242;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  right: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  width: 100%;
  z-index: 10; }

.shadow-active {
  opacity: 0.5;
  visibility: visible; }

.stop-scrolling {
  height: 100vh;
  overflow: hidden; }

/* desktop ================================================== */
@media (min-width: 960px) {
  .navbar {
    height: 64px; }
    .navbar .hamburger-button {
      height: 64px;
      width: 64px; }
      .navbar .hamburger-button .line-container {
        margin: 20px auto; }
    .navbar .page-name {
      line-height: 64px;
      padding-left: 16px; }
    .navbar .nav-button {
      height: 64px;
      line-height: 64px; }
    .navbar .nav-icon-button {
      display: none; }
    .navbar .logo {
      height: 56px;
      padding: 4px 0; } }
/* tablet ================================================== */
@media (min-width: 600px) and (max-width: 959px) {
  .navbar {
    height: 64px; }
    .navbar .hamburger-button {
      height: 64px;
      margin-left: 0;
      width: 64px; }
      .navbar .hamburger-button .line-container {
        margin: 20px auto; }
    .navbar .page-name {
      line-height: 64px;
      padding-left: 16px; }
    .navbar .nav-button {
      height: 64px;
      line-height: 64px; }
    .navbar .nav-icon-button {
      display: none; }
    .navbar .logo {
      height: 56px;
      padding: 4px 0; } }
/* phone ================================================== */
@media (max-width: 599px) {
  .navbar {
    height: 56px; }
    .navbar .hamburger-button {
      height: 56px;
      margin-left: 0;
      width: 56px; }
      .navbar .hamburger-button .line-container {
        margin: 16px auto; }
    .navbar .page-name {
      font: 300 32px "Roboto", sans-serif;
      line-height: 52px;
      padding-left: 8px; }
    .navbar .nav-button {
      height: 56px;
      line-height: 52px; }
    .navbar .nav-icon-button {
      display: none; }
    .navbar .logo {
      height: 48px;
      padding: 4px 0; } }
