/* breakpoints ================================================= */
/* colors ================================================= */
/* typography ================================================= */
/* transitions ================================================= */
/* mixins ================================================= */
/* style ================================================= */
html, body {
  background-color: #e0e0e0;
  margin: 0;
  min-height: 200px;
  padding: 0;
  position: relative;
  width: 100%; }

.main-container {
  box-sizing: border-box;
  display: block;
  max-width: 944px;
  min-height: 100vh;
  margin: 8px auto;
  position: relative; }

.icon {
  display: block;
  height: 100px;
  margin: auto;
  position: relative;
  width: 100px; }

.photo {
  display: block;
  position: relative;
  width: 100%; }

.whitespace {
  display: block;
  height: 8px;
  margin: 40px 0;
  position: relative;
  width: 100%; }

.clear {
  clear: both;
  width: 100%; }

/* general ================================================== */
.ripple-button {
  display: block;
  position: relative;
  overflow: hidden; }

.ripple-circle {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  opacity: 0;
  height: 0;
  width: 0;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.4); }

.ripple-button-dark {
  display: block;
  position: relative;
  overflow: hidden; }

.ripple-circle-dark {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  opacity: 0;
  height: 0;
  width: 0;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.2); }
