/* breakpoints ================================================= */
/* colors ================================================= */
/* typography ================================================= */
/* transitions ================================================= */
/* mixins ================================================= */
/* style ================================================= */
html, body {
  background-color: #e0e0e0;
  margin: 0;
  min-height: 200px;
  padding: 0;
  position: relative;
  width: 100%; }

.map {
  background: url("../images/map.png") no-repeat center;
  background-size: 1100px auto;
  display: block;
  height: 400px;
  position: relative;
  width: 100%; }

.s2p-header {
  background-color: #009933;
  box-shadow: 0; }

.main-container {
  box-sizing: border-box;
  display: block;
  max-width: 944px;
  min-height: 100vh;
  margin: 8px auto;
  position: relative; }

.icon {
  display: block;
  height: 100px;
  margin: auto;
  position: relative;
  width: 100px; }

.photo {
  box-shadow: 0 2px 2px #9e9e9e;
  display: block;
  margin: auto;
  max-height: 300px;
  max-width: 100%;
  position: relative; }

.whitespace {
  display: block;
  height: 8px;
  margin: 40px 0;
  position: relative;
  width: 100%; }

.clear {
  clear: both;
  width: 100%; }

/* general ================================================== */
.headline {
  color: #12679a;
  font: 300 32px "Roboto", sans-serif; }

.title {
  color: #9e9e9e;
  font: 500 20px "Roboto", sans-serif;
  padding: 16px; }

.subhead {
  color: #424242;
  font: 500 16px "Roboto", sans-serif;
  padding: 16px 0; }

.body {
  font: 400 14px "Roboto", sans-serif; }
  .body ul {
    margin: 0;
    padding: 0 16px; }
    .body ul li {
      padding-bottom: 16px; }

.caption {
  font: 400 12px "Roboto", sans-serif; }

.board-header {
  color: #12679a;
  font: 300 32px "Roboto", sans-serif;
  line-height: 32px;
  padding: 16px; }

.section-header {
  color: #12679a;
  font: 500 16px "Roboto", sans-serif;
  padding: 16px;
  width: 100%; }

.gray {
  color: #9e9e9e; }

.white {
  color: white; }

.color {
  color: #12679a; }

.color2 {
  color: #009933; }

.right {
  text-align: right; }

.center {
  text-align: center; }

.justify {
  text-align: justify; }

.no-pad {
  padding-left: 0; }

/* desktop ================================================== */
/* tablet ================================================== */
@media screen and (min-width: 600px) and (max-width: 959px) {
  .right {
    text-align: left; } }
/* phone ================================================== */
@media screen and (max-width: 599px) {
  .right {
    text-align: left; } }
