@import "master";

/* general ================================================== */

.bio-interest-container{
  display: block;
  margin: 16px;
  position: relative;
  .bio-interest{
    background-color: $secondary-color;
    border-radius: 4px;
    color: $nutral-color1;
    display: block;
    float: left;
    font: $subhead;
    margin: 16px 16px 0 0;
    padding: 8px 16px;
    position: relative;
    @include transition(all, $fast, ease-in-out);
    &:hover{
      background-color: $secondary-color-dark;
    }
  }
}