@import "master";

/* general ================================================== */

.bio-description{
  box-sizing: border-box;
  font: $body1;
  min-width: 280px;
  padding: 16px;
  text-align: justify;
}

.bio-description-small{
  box-sizing: border-box;
  font: $body1;
  max-width: 530px;
  min-width: 280px;
  padding: 16px;
  text-align: left;
}


/* desktop ================================================== */

@media (min-width: $desktop-min) {

  .bio-description{
    @include columns(2, 24px);
  }

}


/* tablet ================================================== */

@media (min-width: $tablet-min) and (max-width: $tablet-max) {

  .bio-description{
    @include columns(2, 24px);
  }

}

/* phone ================================================== */

@media (max-width: $phone-max) {

  .bio-description{
    @include columns(1, 24px);
  }

}