@import "master";

/* general ================================================== */

.board{
  background-color: $nutral-color1;
  box-shadow: 0 2px 2px $nutral-color3;
  display: block;
  margin-bottom: 8px;
  min-height: 48px;
  position: relative;
  @include transition(all, $medium, ease-in-out);
  width: 100%;
}


/* desktop ================================================== */

@media (min-width: $desktop-min) {

  

}


/* tablet ================================================== */

@media (min-width: $tablet-min) and (max-width: $tablet-max) {

  

}

/* phone ================================================== */

@media (max-width: $phone-max) {

  

}