@import "master";

/* general ================================================== */

/* See .card-post-text.scss for styling on .card-area and .card */

.card-post-image{
  background-color: $nutral-color1;
  box-shadow: 0 2px 2px $nutral-color3;
  display: block;
  position: relative;
  text-decoration: none;
  top: 0;
  @include transition(all, $fast, ease-in-out);
  width: 100%;
  &:hover{
    box-shadow: 0 6px 6px $nutral-color3;
    top: -4px;
  }
  .card-title{
    color: $primary-color;
    font: $headline;
    padding: 16px;
  }
  .card-photo-container{
    height: 152px;
    overflow: hidden;
    width: 100%;
    .card-photo{
      display: block;
      min-height: 152px;
      left: 50%;
      min-width: 100%;
      position: relative;
      transform: translate(-50%, -10%);
      -webkit-transform: translate(-50%, -10%);
    }
    .harry{
      transform: translate(-50%, -20%);
      -webkit-transform: translate(-50%, -20%);
    }
  }
  .card-info, a{
    display: block;
    padding: 16px;
    .card-name{
      color: $primary-color;
      display: block;
      font: $title;
      padding-bottom: 8px;
      position: relative;
    }
    .card-position{
      color: $nutral-color3;
      font: $subhead;
    }
    .card-company{
      color: $nutral-color3;
      font: $subhead;
    }
    .card-text{
      color: $nutral-color4;
      font: $body1;
      padding-top: 16px;
      text-align: left;
    }
  }
}

/* desktop ================================================== */

@media screen and (min-width: $desktop-min) {

  .card-post-image{
    min-height: 570px;
 }

}


/* tablet ================================================== */

@media screen and (min-width: 608px) and (max-width: $tablet-max) {

 .card-post-image{
    min-height: 570px;
 }
  
}


/* phone ================================================== */

@media screen and (max-width: 608px) {

  .card-post-image{
    min-height: auto;
 }

}
