@import "master";


/* general ================================================== */

.column-header-container{
  display: block;
  height: 52px;
  position: relative;
  .column-header{
    color: $nutral-color4;
    display: block;
    font: $subhead;
    padding: 16px;
    position: relative;
    width: 124px;
  }
  .left{
    float: left;
    text-align: left;
  }
  .right, .middle{
    float: right;
    text-align: center;
  }
  .middle{
    padding-right: 50px;
  }
}

.chip-leaderboard{
  display: block;
  height: 42px;
  padding: 8px 0;
  position: relative;
  text-decoration: none;
  @include transition(all, $fast, ease-in-out);
  width: 100%;
  &:hover{
    background-color: $nutral-color2;
  }
  .name{
    color: $primary-color;
    display: block;
    float: left;
    font: $subhead;
    padding: 12px 0 0 74px;
  }
  .number{
    color: $primary-color;
    display: block;
    float: right;
    font: $title;
    height: 100%;
    padding: 8px 16px;
    text-align: center;
    width: 124px;
  }
  .optional{
    padding-right: 50px;
  }
}

/* desktop ================================================== */

@media (min-width: $desktop-min) {


}


/* tablet ================================================== */

@media (min-width: 750px) and (max-width: $tablet-max) {

  .column-header-container{
    .middle{
      padding-right: 16px;
    }
  }
  .chip-leaderboard{
    .optional{
      padding-right: 16px;
    }
  }

}

/* phone ================================================== */

@media (max-width: 749px) {

  .column-header-container{
    .right{
      text-align: right;
      width: auto;
    }
    .middle{
      display: none;
    }
  }
  .chip-leaderboard{
    .number{
      padding-left: 0;
      width: 48px;
    }
    .optional{
      display: none;
    }
  }

}