@import "master";


/* general ================================================== */

.chip-pic-name-container{
  padding: 8px 0;
}
.chip-pic-name{
  display: block;
  float: left;
  height: 42px;
  padding: 8px 0;
  position: relative;
  text-decoration: none;
  @include transition(all, $fast, ease-in-out);
  width: 50%;
  &:hover{
    background-color: $nutral-color2;
  }
  .name{
    color: $primary-color;
    font: $subhead;
    padding: 12px 16px 0 74px;
  }
}

.card-post-text{
  .chip-pic-name{
    width: 100%;
  }
}

/* phone ================================================== */

@media (max-width: $phone-max) {

  .chip-pic-name{
    width: 100%;
  }

}