@import "master";


/* general ================================================== */

.chip-text{
  background-color: $nutral-color1;
  display: block;
  float: left;
  padding: 8px 0;
  position: relative;
  text-decoration: none;
  @include transition(all, $fast, ease-in-out);
  width: 50%;
  &:hover{
    background-color: $nutral-color2;
  }
  .text-container{
    display: block;
    padding: 0 16px;
    .text{
      color: $nutral-color3;
      display: block;
      font: $body1;
    }
    .primary{
      color: $nutral-color4;
    }
  }
  .stats{
    color: $nutral-color3;
    font: $caption;
    padding: 4px 0;
    .primary{
      color: $primary-color;
    }
  }
}


/* desktop ================================================== */

@media (min-width: $desktop-min) {


  
}


/* tablet ================================================== */

@media (min-width: $tablet-min) and (max-width: $tablet-max) {

  

}

/* phone ================================================== */

@media (max-width: $phone-max) {

  .chip-text{
    width: 100%;
  }

}
