@import "master";

/* general ================================================== */

.column-container{
  display: block;
  position: relative;
  .column{
    box-sizing: border-box;
    display: block;
    float: left;
    height: 100%;
    padding: 16px;
    position: relative;
  }
}

.no-pad{
  .column{
    padding: 0;
  }
}


/* desktop ================================================== */

@media screen and (min-width: $desktop-min) {

  .column-container{
    .column.col25{
      width: 25%;
    }
    .column.col33{
      width: 33%;
    }
    .column.col50{
      width: 50%;
    }
    .column.col66{
      width: 66%;
    }
    .column.col75{
      width: 75%;
    }
  }

}

/* tablet ================================================== */

@media screen and (min-width: $tablet-min) and (max-width: $tablet-max) {

  .column-container{
    .column.col25{
      width: 33%;
    }
    .column.col33{
      width: 33%;
    }
    .column.col50{
      width: 50%;
    }
    .column.col66{
      width: 66%;
    }
    .column.col75{
      width: 66%;
    }
  }
  
}


/* phone ================================================== */

@media screen and (max-width: $phone-max) {

  .column-container{
    .column.col25, .column.col33, .column.col50, .column.col66, .column.col75{
    width: 100%;
    }
  }

}