@import "master";


/* general ================================================== */

.group-photo{
  box-sizing: border-box;
  padding: 16px;
  position: absolute;
}
.group-info{
  box-sizing: border-box;
  display: block;
  min-height: 232px;
  padding: 16px;
  padding-left: 232px;
  position: relative;
  .name{
    color: $primary-color;
    font: $display1;
    padding-bottom: 8px;
  }
  .info{
    color: $nutral-color3;
    font: $subhead;
  }
  .description{
    color: $nutral-color4;
    font: $body1;
    text-align: justify;
    padding-top: 16px;
  }
}

/* phone ================================================== */

@media (max-width: $phone-max) {

  .group-photo{
    position: relative;
    width: 100%;
  }
  .group-info{
    padding-left: 16px;
    min-height: 0px;
  }

}