@import "master";


/* general ================================================== */

.input-text-field-container{
  box-sizing: border-box;
  display: block;
  float: left;
  padding: 8px 0;
  position: relative;
  width: 100%;
  textarea{
    box-sizing: border-box;
  }
  .input-text-field{
    border: none;
    border-bottom: 1px $nutral-color2 solid;
    box-sizing: border-box;
    color: $nutral-color3;
    display: block;
    font: $title;
    margin: 16px;
    margin-top: 12px;
    position: relative;
    resize: none;
    @include transition(border, $medium, ease-in-out);
    width: 100%;
    &:focus{
      border-bottom: 2px $primary-color solid;
      color: $nutral-color4;
      outline: none;
    }
  }
  .validation-error{
    border-bottom: 2px $primary-color solid;
  }
}


/* desktop ================================================== */

@media (min-width: $desktop-min) {

  .post, .sort{ 
    .input-text-field-container{
      width: 50%;
    }
  }

}


/* tablet ================================================== */

@media (min-width: $tablet-min) and (max-width: $tablet-max) {

  .input-text-field-container{
    width: 50%;
  }

}

/* phone ================================================== */

@media (max-width: $phone-max) {

  .input-text-field-container{
    width: 100%;
  }

}
