@import "master";


/* general ================================================== */

.input-comment-container{
  box-sizing: border-box;
  display: block;
  padding: 0;
  position: relative;
  width: 100%;
  textarea{
    box-sizing: border-box;
  }
  .input-comment{
    border: none;
    border-bottom: 1px $nutral-color2 solid;
    box-sizing: border-box;
    color: $nutral-color3;
    display: block;
    font: $body1;
    margin: 0 0 8px 74px;
    position: relative;
    resize: none;
    @include transition(border, $medium, ease-in-out);
    width: 100%;
    &:focus{
      border-bottom: 2px $primary-color solid;
      color: $nutral-color4;
      outline: none;
    }
  }
  .validation-error{
    border-bottom: 2px $secondary-color solid;
  }
}


/* desktop ================================================== */

@media (min-width: $desktop-min) {

  .input-comment-container{
  }

}


/* tablet ================================================== */

@media (min-width: $tablet-min) and (max-width: $tablet-max) {

  .input-comment-container{
  }

}

/* phone ================================================== */

@media (max-width: $phone-max) {

  .input-comment-container{
  }

}
