@import "master";


/* general ================================================== */

.table-head{
  box-sizing: border-box;
  display: block;
  padding: 16px;
  position: relative;
  .main{
    display: block;
    float: left;
    position: relative; 
    .title{
      color: $primary-color;
      font: $headline;
    }
  }
  .date, .views{
    color: $primary-color;
    display: block;
    float: left;
    font: $headline;
    position: relative;
    text-align: right;
    width: 25%;
  }
}

.list-post{
  box-sizing: border-box;
  display: block;
  padding: 16px;
  position: relative;
  background-color: $nutral-color1;
  text-decoration: none;
  @include transition(all, $fast, ease-in-out);
  &:hover{
    background-color: $nutral-color2;
  }
  .icon{
    display: block;
    float: left;
    height: 48px;
    padding: 16px;
    position: relative;
    width: 48px;
  }
  .main{
    display: block;
    float: left;
    position: relative; 
    .title{
      color: $nutral-color3;
      font: $headline;
    }
    .info{
      color: $nutral-color3;
      font: $body1;
      padding-top: 8px;
      .number{
        color: $primary-color;
      }
    }
  }
  .date, .views{
    color: $nutral-color3;
    display: block;
    float: left;
    font: $headline;
    position: relative;
    text-align: right;
    width: 25%;
  }
}




/* desktop ================================================== */

@media (min-width: $desktop-min) {

  .table-head, .list-post{
    .main{
      width: 50%;
    }
  }

}


/* tablet ================================================== */

@media (min-width: $tablet-min) and (max-width: $tablet-max) {


}

/* phone ================================================== */

@media (max-width: $phone-max) {


}
