@import "master";


/* general ================================================== */

.pagination{
  display: block;
  height: 32px;
  position: relative;
  .pagination-number{
    color: $nutral-color3;
    cursor: pointer;
    display: block;
    float: left;
    font: $body1;
    height: 16px;
    padding: 8px;
    position: relative;
    text-align: center;
    width: 16px;
  }
  .pagination-number-active{
    color: $nutral-color1;
    background-color: $primary-color;
    border-radius: 50%;
  }
}


/* desktop ================================================== */

@media (min-width: $desktop-min) {

  

}


/* tablet ================================================== */

@media (min-width: $tablet-min) and (max-width: $tablet-max) {

  

}

/* phone ================================================== */

@media (max-width: $phone-max) {

  

}
