@import "master";

/* general ================================================== */

.post-area{
  background-color: $nutral-color1;
  //box-shadow: 0 2px 2px $nutral-color3;
  display: block;
  overflow: hidden;
  position: relative;
  top: 0;
  @include transition(all, $fast, ease-in-out);
  width: 100%;
  .circle-photo{
    margin: 16px;
  }
  .section-header{
    padding: 16px 0 0 74px;
  }
  .title{
    color: $primary-color;
    font: $headline;
    padding: 16px 0 8px 74px;
  }
  .text{
    color: $nutral-color4;
    font: $body1;
    padding: 0 16px 0 74px;
    text-align: left;
    a{
      color: $nutral-color3;
    }
  }
  .description{
    color: $nutral-color4;
    font: $body1;
    padding: 0 16px 16px;
    text-align: left;
  }
  .stats{
    font: $caption;
    padding-left: 74px;
    .primary{
      color: $primary-color;
    }
    .nutral{
      color: $nutral-color3;
    }
  }
  .divider{
    background-color: $nutral-color2;
    height: 1px;
  }
}



/* desktop ================================================== */

@media (min-width: $desktop-min) {

  .post-area-info{
    display: block;
  }
  .post-area{
    .post-area-chip{
      display: none;
    }
  }

}


/* tablet ================================================== */

@media (min-width: $tablet-min) and (max-width: $tablet-max) {

  .post-area-info{
    display: block;
  }
  .post-area{
    .post-area-chip{
      display: none;
    }
  }

}


/* phone ================================================== */

@media (max-width: $phone-max) {

  .post-area-info{
    display: none;
  }
  .post-area{
    .post-area-chip{
      display: block;
    }
    .text, .section-header{
      padding-left: 16px;
    }
  }

}