@import "master";


/* general ================================================== */

.profile-info{
  box-sizing: border-box;
  display: block;
  float: left;
  min-height: 200px;
  padding: 16px;
  position: relative;
  .name{
    color: $primary-color;
    font: $display1;
    padding-bottom: 8px;
  }
  .position{
    color: $nutral-color4;
    font: $title;
    padding-bottom: 8px;
  }
  .company{
    color: $nutral-color3;
    font: $subhead;
    padding-bottom: 8px;
  }
}