@import "master";


/* general ================================================== */

.square-photo{
  display: block;
  height: 200px;
  float: left;
  overflow: hidden;
  position: relative;
  width: 200px;
  .square-photo-image{
    height: 200px;
    margin-left: 50%;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
}

/* desktop ================================================== */

@media (min-width: $desktop-min) {

  

}


/* tablet ================================================== */

@media (min-width: $tablet-min) and (max-width: $tablet-max) {

  

}

/* phone ================================================== */

@media (max-width: $phone-max) {

  .square-photo{
    position: relative;
    width: 100%;
  }

}