@import "master";

/* This belongs to _tabs-dashboard.html.erb */

/* general ================================================== */

.group-preview{
  border-bottom: 1px $nutral-color2 solid;
  display: block;
  margin: 16px 0;
  min-height: 276px;
  padding: 0 0 16px;
  position: relative;
  .group-info-container{
    display: block;
    margin: 0 16px;
    position: absolute;
    text-decoration: none;
    width: 200px;
    z-index: 10;
    .group-name{
      color: $primary-color;
      font: $title;
      padding: 8px 0;
      text-decoration: none;
    }
    .member-number{
      color: $nutral-color3;
      font: $subhead;
      text-decoration: none;
    }
  }
  .group-post-container{
    box-sizing: border-box;
    display: block;
    padding-left: 232px;
    position: relative;
    width: 100%;
  }
}

/* desktop ================================================== */

@media (min-width: $desktop-min) {

  

}


/* tablet ================================================== */

@media (min-width: $tablet-min) and (max-width: $tablet-max) {

  .group-post-container{
    .chip-pic-text{
      width: 100%;
    }
  }

}

/* phone ================================================== */

@media (max-width: $phone-max) {

  .group-preview{
    .group-info-container{
      box-sizing: border-box;
      display: block;
      margin: 0;
      padding: 16px;
      position: relative;
      width: 100%;
    }
    .group-post-container{
      box-sizing: border-box;
      display: block;
      padding: 0;
      position: relative;
      width: 100%;
    }
  }

}